@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



// MEDIA QUERY MANAGER
/*
0-600px:        Phone
600-900px:      Tablet portrait
900-1200px:     Tablet landscape
1200-1800px:    Normal styles
1800px+:        Big desktop

    $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop


ORDER: Base + typograpy > general layout > page layout > components
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
}

@mixin header-main {
    font-size: 8rem;
    line-height: 5.5rem;
    color: $color-primary;
    text-shadow: 3px 2px #ff0000;
}

@mixin header-secondary {
    font-size: 2.5rem;
    letter-spacing: .5px;
    font-family: $secondary-font;
    color: $color-primary;
    text-shadow: 3px 5px 2px rgb(0 0 0 / 0.4);
}